<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table>
            <p>
                {{ form.name }}
            </p>
            <p>
                <select name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.genre }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                {{ form.issue_date }}
            </p>
            <p>
                {{ form.actors }}
            </p>
            <p>
                {{ form.show_date }}
            </p>
        </table>
        <input type="submit" value="Send">
    </form>
</body>
</html>